header.header
    .container
        a(href="#").logo
        .search
            form.search__form
                input(name="" type="text" placeholder="Search").search__input
                input(name="" type="submit" value="Send").search__submit
        .socials
            ul.socials__list
                li.socials__item
                    a(href="#").socials__link.socials__link_vk vk
                li.socials__item
                    a(href="#").socials__link.socials__link_fb fb
                li.socials__item
                    a(href="#").socials__link.socials__link_tw tw